@keyframes come {
    0% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes parabola {
    0% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    50% {
        transform: translateY(-20px);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    90% {
        transform: translateY(-4px);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    100% {
        transform: translateY(0);
    }
}

#dock {
    width: auto;
    height: 56.5px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
    padding-bottom: 2.5px;
    border-radius: 16px;
    margin-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 -2px 20px #0005, inset 0 0 2px #1a1a1abb;
    z-index: 2049;
    backdrop-filter: blur(50px) saturate(1.8);
    background: rgba(246, 246, 246, 0.46);
    transform: translateY(80px);
    animation: come 0.7s ease forwards;
    animation-delay: 0.2s;
}

#dock.autohide {}

#dock .container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dock .container img {
    width: 50px;
    height: 50px;
    transition: filter 0.05s;
    will-change: width;
    transform-origin: bottom;
}

#dock .container img.opening {
    animation: parabola 1s infinite;
}

#dock .container img:active {
    filter: brightness(0.5);
}

#dock .container hr {
    border: none;
    height: 42.5px;
    width: 1px;
    border-radius: 1px;
    background: #e8e8e866;
    margin: 0 10px;
    margin-bottom: 5px;
}

#dock .container .light {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #0000;
    margin-top: 2.5px;
}

#dock .container .light.on {
    background: #0008;
}